.div{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* background-color: #f7fcff; */
    /* border: 2px solid black; */
    padding: 100px;
}

.header{
    padding-bottom: 10px;
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: normal;
    color: #3D4853;
    
}

.text{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    max-width: 600px;
    text-align: center;
    font-size: 1.315rem;
    line-height: 2rem;
    color: #5A6B7B;
    overflow-wrap: break-word;
}

.img{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    max-width: 600px;
    text-align: center;
    font-size: 1.315rem;
    line-height: 2rem;
    color: #5A6B7B;
    overflow-wrap: break-word;
}

.img:hover{
    cursor: pointer;
}