
.sidebarmain{
  margin-top: 50px;
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  width:20%;
  background: white;
  height: 100vh;
  position: fixed;
  z-index: 10000;


}

.sidebarsub{
 display: grid;
 grid-template-columns: 1fr;
 width: 100%;
 height: fit-content;
 
}


.sidebardiv1{
  width: 100%;
  display: flex;
  padding: 15px;
  gap: 20px;
  align-items: center;
  background:white;
  margin-top: 10px;
  background: linear-gradient(to left, white 50%, #e4eaee 50%) right;
  background-size:200%;
  transition: .3s ease-out;
}

.sidebardiv1 :hover{
    background-position: left;
     cursor:pointer;
    
  }
.sidebardiv2{
  
}
.sidebarheading{
  color: black;
  font-size:14px;
}

.sidebarimg{

height: 20px;
color: #a1a1a1;
margin-left: 30px;
}

.sidebarheading1{
    color:#a1a1a1;
  font-size:14px;
  font-weight: 500;
margin-left: 30px;
margin-top: 50px;


}

.sidebardiv1toggle{

  width: fit-content;
  display: flex;
  padding: 10px 0px;
  margin-top: 50px;
  gap: 10px;
  align-items: center;
  background: white;

}